{% extends 'base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            {# total items count #}
            <div class="count">
                <button type="button" class="btn btn-outline-secondary">
                    Total <span class="badge bg-success ms-1">{{ data.getTotalItemCount }}</span>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addForm">
                    <i class="icon" data-feather="plus-circle"></i>
                    Ajouter
                </button>
                {# Total : {{ data.getTotalItemCount }} #}
            </div>
      <div id="addForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Ajouter une action</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path('app_actions_add') }}" method="POST" autocomplete="off">
                                <div class="mb-3">
                                    <label class="form-label" for="libelle">Libellé</label>
                                    <input type="text" class="form-control" id="libelle" name="libelle" required placeholder="Entrer le libellé de l'action">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="description">Description</label>
                                    <textarea type="text" class="form-control" id="description" name="description" required placeholder="Entrer la description de l'action" rows="6"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">
                                        <i class="icon" data-feather="x-circle"></i>
                                        ANNULER
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="icon" data-feather="check-circle"></i>
                                        ENREGISTRER
                                    </button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th style="width:5%; text-align:center">#</th>
                            <th style="width:30%" {% if data.isSorted('libelle') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(data, 'Libelle', 'libelle') }}
                            </th>
                            <th {% if data.isSorted('description') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(data, 'Description', 'description') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for d in data %}
                            <tr>
                                <td style="text-align:center">{{ i }}</td>
                                <td>{{ d.libelle is defined ? d.libelle : '' }}</td>
                                <td>{{ d.description is defined ? d.description : '' }}</td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                {# display navigation #}
                <div class="navigation mt-3">
                    {{ knp_pagination_render(data) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

    </script>
{% endblock %}